/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#redes-sociales img {
    width: 30px;
    margin: 0 5px;
}

#aviso-legal {
    flex-grow: 1;
    text-align: right;
}
/* styles.css */
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.redes-sociales a {
    margin: 0 10px;
}

.redes-sociales img {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: 40px;
}
